<pre class="pre-HI">
           ___      |\________/)
          [_,_])    \ /       \|
         /|=T=|]     /   __  __\
         |\ " //     |_  9   p ]\
         ||'-'/--.  / /\ =|  \|\ \
        /|| &lt;\/&gt; |\ | '._, @ @)&lt;_)
       | |\   |  |   \.__/(_;_)
       |  .   H  |   |  :  '='|
       |  |  _H__/  _| :      |
        \  '.__  \ /  ;      ';
       __'-._(_}==.'  :       ;
      (___|    /-' |   :.     :
     [.-'  \   |   \   \ ;   :
    .-'     |  |    |  |   ":
   /        |==|     \  \  /  \_
  /         [  |      '._\_ -._ \
 /           \__)   __.- \ \   )\\
/       |        /.'      &gt;&gt;)
|        \       |\     |
|     .'  '-.    | \    /
|    /     /     / /   /
</pre>
<div class="text-center">
    <p>Oops ...</p>
    <h2 class="error404">Erreur 404</h2>
    <h3>Page introuvable !!!</h3>   
</div>

