<nav>
    <a routerLink="../chasseur-inscription">Inscription chasseur</a>
    <a routerLink="../chasseur-recherche">Recherche chasseur</a>
</nav>

<h2>Recherche en construction !!!</h2>

<pre class="pre-SM">
    __
    .-.__      \ .-.  ___  __
    |_|  '--.-.-(   \/\;;\_\.-._______.-.
    (-)___     \ \ .-\ \;;\(   \       \ \
     .    '---._\_((Q)) \;;\\ .-\     __(_)
     I           __'-' / .--.((Q))---'    \,
     I     ___.-:    \|  |   \'-'_          \
     A  .-'      \ .-.\   \   \ \ '--.__     '\
     |  |____.----((Q))\   \__|--\_      \     '
        ( )        '-'  \_  :  \-' '--.___\
         \,                \  \  \       \(_)
          \,                \  \  \         \,
           \,                \  \  \          \
                              \  \  \          '\
 Pas l'temps d'niaizer !!!     \  \__|           '
                                \_:.  \
                                  \ \  \
                                   \ \  \
                                    \_\_|
</pre>

<!--  <h2>Les chasseurs :</h2>
<ul class="chasseurs">
   <li *ngFor="let chasseur of chasseurs">
        <a routerLink="/detail/{{chasseur.id}}">
            <span class="badge">{{chasseur.id}}</span>
            <span class="badge">{{chasseur.type | uppercase}}</span>
            <span class="badge">{{chasseur.etat}}</span>
        </a>
    </li>   
</ul>  -->
