<nav>
    <a routerLink="chasseur-inscription">Inscription chasseur</a>
    <a routerLink="chasseur-recherche">Recherche chasseur</a>
</nav>
<router-outlet></router-outlet>
<h2>En construction !!!</h2>
<pre class="pre-SM">
               __
    .-.__      \ .-.  ___  __
    |_|  '--.-.-(   \/\;;\_\.-._______.-.
    (-)___     \ \ .-\ \;;\(   \       \ \
     .    '---._\_((Q)) \;;\\ .-\     __(_)
     I           __'-' / .--.((Q))---'    \,
     I     ___.-:    \|  |   \'-'_          \
     A  .-'      \ .-.\   \   \ \ '--.__     '\
     |  |____.----((Q))\   \__|--\_      \     '
        ( )        '-'  \_  :  \-' '--.___\
         \,                \  \  \       \(_)
          \,                \  \  \         \,
           \,                \  \  \          \
                              \  \  \          '\
 Pas l'temps d'niaizer !!!     \  \__|           '
                                \_:.  \
                                  \ \  \
                                   \ \  \
                                    \_\_|
</pre>
